<!DOCTYPE html>  <!-- HTML5 document type -->
<html ng-app="flowApp">
<head>
    <link rel="stylesheet" href="/zflow/static/angular-notify/angular-notify.css" >
    <link rel="stylesheet" href="/zflow/static/angletheme/bootstrap.css">
    <link rel="stylesheet" href="/zflow/static/angletheme/app.css">
    <link rel="stylesheet" href="/css/jquery.qtip.css"/>
    <link rel="stylesheet" href="/css/manageflow.css">

</head>
<body>


<div class="wrapper">
    <!-- Page content-->
    <div class="content-wrapper manage-flow" ng-cloak ng-controller="vertexController as vm">
        <header><img src="/img/logo.png" alt=""></header>

        <!-- START row-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>流程基本信息
                        <button class="btn btn-xs btn-green pull-right ml" ng-click="vm.convertDataArray()">导出数组形式</button>
                        <button class="btn btn-xs btn-green pull-right ml" ng-click="vm.convertDataObj()">导出对象形式</button></h4>
                    </div>
                    <div class="panel-body">

                        <form class="form-horizontal" name="formFlow">
                            <div class="form-group" ng-class="{'has-error' : formFlow.globalName.$invalid && formFlow.globalName.$dirty}">
                                <label class="col-sm-2 control-label"> 流程名称: </label>
                                <div class="col-sm-4">
                                    <input class="form-control" name="globalName" type="text" placeholder="流程名称" ng-model="vm.flow.globalConfig.name" required minlength="2" maxlength="10">
                                </div>
                                <div class="col-sm-6">
                                    <span class="help-block" ng-if="formFlow.globalName.$error.required">必填!</span>
                                    <span class="help-block" ng-if="formFlow.globalName.$error.minlength">长度要大于2!</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-lg-4">
                                    <button type="submit" class="btn btn-primary" ng-disabled="formFlow.$invalid" ng-click="vm.saveGlobal(formFlow)">保存</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- END row-->


        <!-- START row-->
        <div class="row" ng-show="vm.ouputData">
            <div class="col-md-12">
                <button class="btn btn-default" ng-click="vm.ouputData=''">隐藏输出</button>
                <pre>
{{vm.ouputData | json}}
                </pre>
            </div>
        </div>
        <!-- END row-->


        <!-- START row-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>数据采集点
                        <button class="btn mb-sm btn-default pull-right ml" ng-show="vm.pointEditType === 'list'" ng-click="vm.changePointEditType('')">隐藏列表</button>
                        <button class="btn mb-sm btn-default pull-right ml" ng-show="vm.pointEditType === '' || vm.pointEditType === 'jsoneditor'" ng-click="vm.changePointEditType('list')">显示列表</button>
                        <button class="btn mb-sm btn-info pull-right ml" ng-show="vm.pointEditType === 'list'" ng-click="vm.changePointEditType('add')">添加数据采集点</button>
                        <!--<button class="btn mb-sm btn-default pull-right ml" ng-show="vm.pointEditType === 'add'" ng-click="vm.changePointEditType('list')" ng-click="vm.convertDataObj()">返回列表</button>-->
                    </h4>
                    </div>
                    <div class="panel-body" ng-if="vm.pointEditType === 'list' ">
                        <div class="table-responsive" >
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>采集点ID </th>
                                    <th>采集点说明</th>
                                    <th>字段</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="vm.flow.points.length === 0">
                                    <td colspan="3" class="text-center"> 暂无数据 </td>
                                </tr>
                                <tr ng-repeat=" point in vm.flow.points track by point.data.id">
                                    <td> <a ng-click="vm.selectPoint('jsoneditor', point)">{{point.id}}</a></td>
                                    <td>{{point.description}}</td>
                                    <td>
                                        <table class="table table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th>字段名称</th>
                                                <th>字段类型</th>
                                                <th>字段描述</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat=" (key, value) in point.data.JSONSchema.properties track by key">
                                                <td>{{key}} </td>
                                                <td>{{value.type}}</td>
                                                <td>{{value.description}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-body" ng-if="vm.pointEditType === 'add' ">

                        <h5> 添加一个新数据采集点 </h5>

                        <form class="form-horizontal" name="formPoint">

                            <div class="form-group" ng-class="{'has-error' : formPoint.pid.$invalid && formPoint.pid.$dirty}">
                                <div class="col-sm-8">
                                    <input type="text" name="pid" placeholder="新数据采集点ID" class="form-control" ng-model="vm.newPoint.id" required minlength="2" maxlength="20">
                                </div>
                                <div class="col-sm-4">
                                    <span class="help-block" ng-if="formPoint.pid.$error.required">必填!</span>
                                    <span class="help-block" ng-if="formPoint.pid.$error.minlength">长度2-20!</span>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{'has-error' : formPoint.pdesc.$invalid && formPoint.pdesc.$dirty}">
                                <div class="col-sm-8">
                                    <input type="text" name="pdesc" placeholder="新数据采集点说明" class="form-control" ng-model="vm.newPoint.description" required minlength="2" >
                                </div>
                                <div class="col-sm-4">
                                    <span class="help-block" ng-if="formPoint.pdesc.$error.required">必填!</span>
                                    <span class="help-block" ng-if="formPoint.pdesc.$error.minlength">长度要大于2!</span>
                                </div>
                            </div>


                            <div class="form-group has-error">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary" ng-disabled="formPoint.$invalid" ng-click="vm.addNewPoint(formPoint)">保存</button>
                                </div>
                                <div class="col-lg-12">
                                    <span class="help-block" ng-if="vm.errorAddNewPoint.pointExist">数据点ID已存在!</span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="panel-body" ng-show="vm.pointEditType === 'jsoneditor' ">
                        <h4> 字段编辑器
                            <button class="btn btn-sm btn-primary pull-right ml" ng-click="vm.savePointSchema()">保存</button>
                        </h4>

                        <div id="json_editor_box"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END row-->


        <!-- START row-->
        <div class="row">
            <div class="col-md-12">
                <!-- START panel-->
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div id="chart"></div>

                        <div id="panel-settings" >

                            <div class="panel panel-default" ng-show="vm.selectType === 'node' && vm.currentNode.data.id">
                                <div class="panel-heading"> <h4>当前选中节点: {{vm.currentNode.data.id || '未选择'}}
                                    <button class="btn mb-sm btn-default pull-right ml" ng-click="vm.changeSelectType('')">X</button>
                                </h4> </div>

                                <div class="panel-body">

                                    <form class="form-horizontal" name="formNode">
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <div class="radio">
                                                    <label> <input type="radio" name="isNewNode" ng-value="true" ng-model="vm.isNewNode" > 添加新节点和线 </label>
                                                    <label> <input type="radio" name="isNewNode" ng-value="false" ng-model="vm.isNewNode" > 添加新线指向已有节点 </label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group" ng-if="vm.isNewNode" ng-class="{'has-error' : formNode.vid.$invalid && formNode.vid.$dirty}">
                                            <div class="col-sm-8">
                                                <input type="text" name="vid" placeholder="新节点ID" class="form-control" ng-model="vm.newNode.data.id" required minlength="2" maxlength="20">
                                            </div>
                                            <div class="col-sm-4">
                                                <span class="help-block" ng-if="formNode.vid.$error.required">必填!</span>
                                                <span class="help-block" ng-if="formNode.vid.$error.minlength">长度2-20!</span>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="vm.isNewNode" ng-class="{'has-error' : formNode.vdesc.$invalid && formNode.vdesc.$dirty}">
                                            <div class="col-sm-8">
                                                <input type="text" name="vdesc" placeholder="新节点简介" class="form-control" ng-model="vm.newNode.data.description" required minlength="2" >
                                            </div>
                                            <div class="col-sm-4">
                                                <span class="help-block" ng-if="formNode.vdesc.$error.required">必填!</span>
                                                <span class="help-block" ng-if="formNode.vdesc.$error.minlength">长度要大于2!</span>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="!vm.isNewNode">
                                            <div class="col-sm-10">
                                                <select class="form-control m-b" ng-model="vm.newNode.data.id"
                                                        ng-options="item.data.id as item.data.id for item in vm.flow.edges track by item.data.id" >
                                                    <option value=""> --- 请选择指向的已有节点 --- </option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group" ng-class="{'has-error' : formNode.edgeId.$invalid && formNode.edgeId.$dirty}">
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="edgeId" placeholder="新的节点间连线ID"  ng-model="vm.newEdge.data.id" required minlength="2" maxlength="20">
                                            </div>
                                            <div class="col-sm-4">
                                                <span class="help-block" ng-if="formNode.edgeId.$error.required">必填!</span>
                                                <span class="help-block" ng-if="formNode.edgeId.$error.minlength">长度2-20!</span>
                                            </div>
                                        </div>


                                        <div class="form-group has-error">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-primary" ng-disabled="formNode.$invalid" ng-click="vm.addNewEdge(formNode)">保存</button>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="help-block" ng-if="vm.errorAddNewNode.notSelected">请选择一个节点!</span>
                                                <span class="help-block" ng-if="vm.errorAddNewNode.nodeExist">节点ID已存在!</span>
                                                <span class="help-block" ng-if="vm.errorAddNewNode.edgeExist">连线ID已存在!</span>
                                                <span class="help-block" ng-if="vm.errorAddNewNode.nodeSelf">节点连线不能指向自己!</span>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>





                            <div class="panel panel-default" ng-show="vm.selectType === 'edge' && vm.currentEdge.data.id">
                                <div class="panel-heading"><h4> 当前选中线: {{vm.currentEdge.data.id || '未选择'}}
                                    <button class="btn mb-sm btn-default pull-right ml" ng-click="vm.changeSelectType('')">X</button>
                                    <button class="btn mb-sm btn-info pull-right ml" ng-show="vm.taskEditType === 'list'" ng-click="vm.changeTaskEditType('add')">添加任务</button>
                                    <button class="btn mb-sm btn-default pull-right ml" ng-show="vm.taskEditType === 'add'" ng-click="vm.changeTaskEditType('list')">返回列表</button>
                                </h4></div>

                                <div class="panel-body">
                                    <div class="table-responsive" ng-if="vm.taskEditType === 'list' ">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th>任务ID / 任务说明</th>
                                                <th>类型</th>
                                                <th>数据采集点</th>
                                                <th>子任务</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-show="vm.currentEdge.data.allTask.length === 0">
                                                <td colspan="3" class="text-center"> 暂无数据 </td>
                                            </tr>
                                            <tr ng-repeat="task in vm.currentEdge.data.allTask track by task.data.id">
                                                <td>{{task.data.id}} <br> {{task.data.description}}</td>
                                                <td>{{task.data.type}}</td>
                                                <td>
                                                    <span ng-repeat="point in task.data.points">{{point.id}}: {{point.description}} <br> </span>
                                                    <input class="" type="text" ng-model="vm.newPointToTask"> <button class="btn btn-sm btn-primary" ng-click="vm.addPointIntoTask(task)">添加点</button>
                                                </td>
                                                <td>
                                                    <span ng-repeat="task in task.data.tasks">{{task.data.id}}: {{task.data.description}} <br> </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="panel-footer" ng-if="vm.taskEditType === 'add' ">

                                    <h5> 添加一个新任务 </h5>

                                    <form class="form-horizontal" name="formTask">

                                        <div class="form-group" ng-class="{'has-error' : formTask.tid.$invalid && formTask.tid.$dirty}">
                                            <div class="col-sm-8">
                                                <input type="text" name="tid" placeholder="新任务ID" class="form-control" ng-model="vm.newTask.data.id" required minlength="2" maxlength="20">
                                            </div>
                                            <div class="col-sm-4">
                                                <span class="help-block" ng-if="formTask.tid.$error.required">必填!</span>
                                                <span class="help-block" ng-if="formTask.tid.$error.minlength">长度2-20!</span>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error' : formTask.tdesc.$invalid && formTask.tdesc.$dirty}">
                                            <div class="col-sm-8">
                                                <input type="text" name="tdesc" placeholder="新任务说明" class="form-control" ng-model="vm.newTask.data.description" required minlength="2" >
                                            </div>
                                            <div class="col-sm-4">
                                                <span class="help-block" ng-if="formTask.tdesc.$error.required">必填!</span>
                                                <span class="help-block" ng-if="formTask.tdesc.$error.minlength">长度要大于2!</span>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error' : formTask.tType.$invalid && formTask.tType.$dirty}">
                                            <div class="col-sm-6">
                                                <select class="form-control m-b" name="tType" ng-model="vm.newTask.data.type" required>
                                                    <option value="">--- 请选择任务类型 ---</option> <!-- not selected / blank option -->
                                                    <option value="userTasks">userTasks</option> <!-- interpolation -->
                                                    <option value="autoTasks">autoTasks</option>
                                                    <option value="partUTasks">partUTasks</option>
                                                    <option value="partGTasks">partGTasks</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <span class="help-block" ng-if="formTask.tType.$error.required">必填!</span>
                                            </div>
                                        </div>


                                        <div class="form-group has-error">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-primary" ng-disabled="formTask.$invalid" ng-click="vm.addNewTask(formTask)">保存</button>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="help-block" ng-if="vm.errorAddNewTask.taskExist">任务ID已存在!</span>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>





                        </div>
                    </div>

                </div>
                <!-- END panel-->


            </div>
        </div>
        <!-- END row-->
    </div>
</div>


<script src='/zflow/static/jquery.js'></script>
<script src='/zflow/static/angular/angular.js'></script>
<script src='/zflow/static/angular-notify/angular-notify.js'></script>

<script src="/zflow/static/cytoscape/jquery.qtip.js"></script>
<script src='/zflow/static/cytoscape/cytoscape.js'></script>
<script src="/zflow/static/cytoscape/cytoscape-qtip.js"></script>
<script src="/zflow/static/cytoscape/dagre.js"></script>
<script src="/zflow/static/cytoscape/cytoscape-dagre.js"></script>

<script src="/zflow/static/jsoneditor/jsoneditor.js"></script>



<script src='/js/floweditor/manageFlowChartClass.js'></script>
<script src='/js/floweditor/manageFlow.js'></script>
<script src='/js/floweditor/formatter.js'></script>


</body>
</html>